button {
	padding: 0.5em 1em;
	cursor: pointer;
}

.button--primary {
	background-color: var(--color-primary);
	color: var(--text-color-alt);
	box-shadow: 5px 5px var(--color-secondary);
}

.button--secondary {
	background-color: var(--color-secondary);
	color: var(--text-color-alt);
	box-shadow: 5px 5px var(--color-primary);
}

.button--tertiary {
	outline: 1px solid var(--text-color-main);
	width: 100%;
}

.button--full-width {
    width: 100%;
    margin-top: 20px;
}

.button--with-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	padding: 10px;
}

.button__text {
	margin-left: 5px;
	flex: 1;
}

.arrow-icon {
	margin-left: 8px;
	vertical-align: middle;
}

.fortytwo-icon {
	margin-right: 8px;
	vertical-align: middle;
}

.button-group--horizontal {
	display: flex;
	align-items: center;
	gap: 3em;
}

.button-group--horizontal button {
	height: 40px;
}

.cross-icon {
	position: relative;
	width: 10%;
}

.cross-icon::before, .cross-icon::after {
	content: '';
	position: absolute;
	background-color: var(--text-color-main);
	width: 100%;
	height: 2px;
	transform: translateY(-50%) rotate(45deg);
}

.cross-icon::after {
	transform: translateY(-50%) rotate(-45deg);
}