.card__container {
  width: 330px;
  margin-top: 2em;
}

.card {
  overflow: hidden;
  min-height: 330px;
  height: 100%;
}

.card--active {
	outline: 1px solid var(--text-color-main);
	box-shadow: -10px -10px var(--color-primary);
}

.card--inactive {
	outline: 1px solid var(--text-color-main);
}

.card--empty {
	outline: 1px dashed var(--text-color-main);
  color: var(--text-color-grey);
}

.card__content {
  padding: 2.5em 3em;
}

.card__title {
  margin-bottom: 2em;
  font-size: var(--font-size-base);
}

.card__text {
  margin-bottom: 2em;
	font-size: var(--font-size-sm);
  font-family: var(--font-family-alt);
  font-variation-settings: "YOPQ" 300;
  overflow-wrap: break-word;
}

.card__note {
  margin-top: 2.5em;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-alt);
  font-variation-settings: "YOPQ" 300;
}

@media (max-width: 700px) {
  .card__container {
    width: 300px;
    margin-top: 2em;
  }
}