.card__container {
  width: 330px;
}

.card__container > div {
  width: 100%;
}

.card {
	outline: 1px solid var(--text-color-main);
	box-shadow: -10px -10px var(--color-primary);
  overflow: hidden;
}

.card--inactive {
	outline: 1px solid var(--text-color-main);
  overflow: hidden;
  margin: 20px;
  height: 100%;
}

.card--empty {
	outline: 1px dashed var(--text-color-main);
  color: var(--text-color-grey);
}

.card__content {
  padding: 2.5em 3em;
}

.card__title {
  margin-bottom: 2em;
  font-size: var(--font-size-base);
}

.card__text {
  margin-bottom: 2em;
	font-size: var(--font-size-sm);
  font-family: var(--font-family-alt);
  font-variation-settings: "YOPQ" 300;
}

.card__note {
  margin-top: 2.5em;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-alt);
  font-variation-settings: "YOPQ" 300;
}
