form label {
  display: none;
}

.form-input {
	font-size: var(--font-size-xs);
	padding: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.form-actions {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	flex-direction: column;
}

.form-error-message {
	display: none;
	background-color: var(--color-secondary);
	color: var(--text-color-alt);
	padding: 2em 3em;
	margin-bottom: 2em;
	font-family: var(--font-family-alt);
	font-size: var(--font-size-sm);
}

.radio-group {
	display: flex;
	gap: 1rem;
}

.radio-label {
	display: block;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 1px solid var(--text-color-main);
	cursor: pointer;
	transition: background-color 0.1s, color 0.1s;
	position: relative; /* Needed for z-index manipulation */
}

.radio-label:hover {
	background-color: var(--color-tertiary);
	color: var(--text-color-alt);
}

.radio-label input[type="radio"]:checked + span::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-tertiary);
}

.radio-label input[type="radio"] {
	display: none;
}
