form label {
  display: none;
}

.form__input {
	font-size: var(--font-size-xs);
	padding: 1em;
	margin-bottom: 1.5em;
	width: 100%;
}

.form__actions {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 0.8em;
	margin-top: 1em;
}

.form__alt-action {
	font-size: var(--font-size-sm);
}

.form__error-message {
	display: none;
	background-color: var(--color-secondary);
	color: var(--text-color-alt);
	padding: 2em 3em;
	margin: 2em 0;
	font-family: var(--font-family-alt);
	font-variation-settings: "YOPQ" 300;
	font-size: var(--font-size-sm);
	flex-direction: column;
	gap: 1em;
}

.radio-group {
	display: flex;
	gap: 1em;
	margin-bottom: 2em;
}

.radio-input {
	display: none;
}

.radio-label {
	display: block;
	height: 40px;
	width: 40px;
	border: 1px solid var(--color-tertiary);
	position: relative;
	transition: 0.1s;
	cursor: pointer;
}

.radio-label > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.radio-input:checked + label {
	background-color: var(--color-tertiary);
	color: var(--text-color-alt);
}

.form__input-button-container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.form__input-button-container input {
  margin-bottom: 0em;
}
