.tournament_lobby__num_players {
  margin-top: 2em;
	font-size: var(--font-size-md);
	color: var(--color-primary);
}

.name__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  width: 180px;
  height: 40px;
  outline: 1px solid var(--text-color-main);
	box-shadow: -5px -5px var(--color-primary);
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-md);
}

section.full .name__container:after, .name__container:before {
  content: "";
  display: block;
  position: absolute;
}

section.full .name__container:after {
  right: -35px;
  width: 28px;
}

section.full .name__container:nth-child(even):after {
  border-bottom: 1px solid var(--text-color-main);
  border-bottom-right-radius: 10em;
  border-right: 1px solid var(--text-color-main);
  bottom: 50%;
  height: 80%;
}

section.full .name__container:nth-child(odd):after {
  border-right: 1px solid var(--text-color-main);
  border-top: 1px solid var(--text-color-main);
  border-top-right-radius: 10em;
  top: 50%;
  height: 80%;
}

section.full.two-players .name__container:nth-child(1):before,
section.full.two-players .name__container:nth-child(3):before {
  display: none;
}

section.full .name__container:first-child:before {
  border-top: 1px solid var(--text-color-main);
  border-right: 1px solid var(--text-color-main);
  border-top-right-radius: 10em;
  bottom: -180%;
  right: -112px;
  height: 160%;
  width: 70px;
}

section.full .name__container:nth-child(3):before {
  border-bottom: 1px solid var(--text-color-main);
  border-right: 1px solid var(--text-color-main);
  border-bottom-right-radius: 10em;
  bottom: -35%;
  right: -112px;
  height: 155%;
  width: 70px;
}
