.tournament__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1.5em;
	margin-bottom: 0.8em;
}

.tournament__grid {
	margin-top: 3em;
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	gap: 2.5rem;
}

.tournament__name {
	min-width: 0;
	overflow-wrap: break-word;
}

.tournament__state {
	font-size: var(--font-size-xs);
	color: var(--text-color-alt);
	border-radius: 10px;
	text-align: center;
	padding: 0.2em 1em;
}

.tournament__state--new {
	background-color: var(--color-primary);
}

.tournament__state--playing {
	background-color: var(--color-secondary);
}

.tournament__state--finished {
	background-color: var(--color-tertiary);
}

.tournament__num_players {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
}

.tournament__num_players--not_full {
	color: var(--color-primary);
}

.tournament__winner {
	color: var(--color-primary);
}

@media (max-width: 900px) {
  .tournament__grid {
    grid-template-columns: 1fr;
  }
}
