.tournament__lobby {
  --border: 1px solid white;
}

.match {
  margin: 20px 0;
  position: relative;
}

.match div {
    border: var(--border);
}

.player {
  display: block;
}

section .match:after, section .match:before {
  content: "";
  display: block;
  position: absolute;
}

section .match:after {
  right: -16px;
  width: 15px;
}

section .match:nth-child(even):after {
  border-bottom: var(--border);
  border-bottom-right-radius: 0.3em;
  border-right: var(--border);
  bottom: 50%;
  height: 80%;
}

section .match:nth-child(odd):after {
  border-right: var(--border);
  border-top: var(--border);
  border-top-right-radius: 0.3em;
  height: 80%;
  top: 50%;
}

section .match:nth-child(odd):before {
  border-top: var(--border);
  bottom: -32%;
  right: -27px;
  width: 12px;
}
