<section>
	<div class="card__container">
		<div class="card card--active">
			<div class="card__content">
				<h1 class="card__title">NEW TOURNAMENT</h1>
				<form onsubmit="handleFormSubmit(event)" action="{{ form_action }}">
					{% csrf_token %}
					<div>
						<label for="{{ form.title.id_for_label }}">Title</label>
						{{ form.title }}
					</div>
					<div>
						<label for="{{ form.description.id_for_label }}">Description</label>
						{{ form.description }}
					</div>
					<fieldset>
						<legend class="legend--hidden">Number of players</legend>
						<div class="radio-group">
							{% for id, label in form.num_players.field.choices %}
							<div>
								<input
										type="radio"
										id="id_num_players_{{ forloop.counter0 }}"
										name="num_players"
										value="{{ id }}"
										class="radio-input"
										{% if forloop.first %} checked {% endif %}
								>
								<label class="radio-label" for="id_num_players_{{ forloop.counter0 }}">
										<span>{{ label }}</span>
								</label>
							</div>
							{% endfor %}
						</div>
					</fieldset>
					<div class="form__actions">
						<button type="submit" class="button--primary">CREATE</button>
					</div>
				</form>   
			</div>
		</div>
		<div class="form__error-message"></div>
	</div>
</section>
