<section
  id="tournament-lobby-section"
  class="{% if num_players == 2 %}two-players{% endif %}"
>
  <h1 class="tournament_lobby__header">BEEPONG CUP</h1>
  <p class="tournament_lobby__description font--alt font-size--sm">
    The mighty Pong contest for the best of the best bees!
  </p>
  <p class="tournament_lobby__player-count">
    <span id="num-players-in-lobby">{{ num_players_in_tournament }}</span>/<span
      id="num-players"
      >{{ num_players }}</span
    >
    PLAYERS
  </p>
  <p>players_in_lobby: {{players_in_lobby}}</p>
  <div class="tournament_lobby__name-list-container">
    {% for player in players_in_lobby %}
    <div class="tournament_lobby__name-container">
      <div class="tournament_lobby__name">{{ player }}</div>
      <span class="tournament_lobby__match-num"></span>
    </div>
    {% endfor %}
  </div>
  <button
    id="leave-button"
    class="button--tertiary button--with-icon"
    onclick="navigate('/')"
  >
    <div class="cross-icon"></div>
    <span>LEAVE TOURNAMENT</span>
  </button>
</section>
