<section>
	<div class="card__container">
			<div class="card">
					<div class="card__content">
							<h2 class="card__title">NEW TOURNAMENT</h2>
							<form onsubmit=handleFormSubmit(event) action="{{ form_action }}">
									{% csrf_token %}
									{{ form.as_div }}
									<div class="form-actions">
										<button type="submit" class="button--primary">CREATE</button>
									</div>
							</form>   
					</div>
			</div>
			<div class="form-error-message">
			</div>
	</div>
</section>