<section>
	<div class="card__container">
		<div class="card card--active">
			<div class="card__content">
				<h1 class="card__title">WHAT'S THIS?</h1>
				<div class="card__text">
					<p>The mighty Pong contest!*</p>
					<p>Play solo against our vicious AI or gather friends and let the tournament decide who's the queen bee 🐝</p>
				</div>
				<div class="button-group--column">
					<button class="button--primary button--with-icon" onclick="navigate(`{% url 'tournament:tournament' %}`, `{% url 'tournament:tournament' %}`)">
						TOURNAMENT
						<img src="/img/arrow.svg" alt="arrow" width="21" height="12">
					</button>
					<form onsubmit="handleFormSubmit(event)" action="{{ form_action }}">
						{% csrf_token %}
						<button class="button--secondary button--with-icon">
							SOLO GAME
							<img src="/img/arrow.svg" alt="arrow" width="21" height="12">
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="form__error-message"></div>
		<p class="card__note">*created by 5 ultra talented Hive Helsinki students. Tech stuff <a id="github-link" href="https://github.com/BeePong/42_transcendence">here -></a></p>
	</div>
</section>