<section>
  <h1>BEEPONG CUP IS STARTING IN <span id="countdown">3</span>...</h1>
  <p>vvagapov vs wchan</p>
  <div class="tournament__lobby">
    <div>
      <div class="match">
        <div class="name">
          vvagapov
        </div>
      </div>
      <div class="match">
        <div class="name">
          wchan
        </div>
      </div>
      <div class="match">
        <div class="name">
          lclerc
        </div>
      </div>
      <div class="match">
        <div class="name">
          djames
        </div>
      </div>
    </div>
  </div>
</section>